<div class="sidebar">
    <h1>
        Elysium
    </h1>
    <nav class="nav">
        <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">
            Dashboard
        </a>
        <a routerLink="/appointments" routerLinkActive="active" ariaCurrentWhenActive="page">
            Appointments
        </a>
        <a routerLink="/patients" routerLinkActive="active" ariaCurrentWhenActive="page">
            Patients
        </a>
        <a routerLink="/staff-management" routerLinkActive="active" ariaCurrentWhenActive="page">
            Staff Management
        </a>
        <a routerLink="/billing-and-invoices" routerLinkActive="active" ariaCurrentWhenActive="page">
            Billing & Invoices
        </a>
        <a routerLink="/lab-results" routerLinkActive="active" ariaCurrentWhenActive="page">
            Lab Results
        </a>
        <a routerLink="/messages" routerLinkActive="active" ariaCurrentWhenActive="page">
            Messages
        </a>
        <a routerLink="/walk-in-queue" routerLinkActive="active" ariaCurrentWhenActive="page">
           Walk-In Queue
        </a>
        <a routerLink="/doctor-status" routerLinkActive="active" ariaCurrentWhenActive="page">
            Doctor Status
        </a>
        <a routerLink="/calender" routerLinkActive="active" ariaCurrentWhenActive="page">
            Calendar
        </a>
        <div class="bottom">
            <p>First Royal Hospital</p>
            <div class="settings">
                <p>Settings</p>
            </div>
        </div>
    </nav>
</div>