.sidebar {
    width: 15vw;
    height: 95vh;
    padding: 1em;
}
h1 {
    margin-bottom: 2em;
}
nav {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.nav-icon {
    margin-right: 1em;
}
a{
    text-decoration: none;
    padding-bottom: 1em;
}