<div class="forgot-password">
    <img src="assets/images/Overlay.svg" alt="Forgot Password Icon" class="forgot-password-icon">
    <h2>Forgot Password</h2>
    <p>Enter your registered work email address and we'll send you instructions to reset your password.</p>
    <form>
        <div class="form-group">
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" required>
        </div>
        <button type="submit" class="send-reset-link">Send Reset Link</button>
    </form>
    <a routerLink="/"><button class="back-to-login">Back To Login</button> </a>
    <p class="security">Security Policy: If you've lost access to your
       enterprise work email, please contact your clinic
       administrator for identity verification.</p>
</div>